/* Default configuration */

body, html {
    margin: 0;
    font: 1em "Lato", sans-serif;
    color: #777;
    height: 100%;
}


.content {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

p {
    margin-bottom: 20px;
}

/* Parallax effect  */
.box1, .box2, .box3, .box4, .box5, .box6 {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box1 {
    background-image: url(../img/imagem1.jpg);
}

.box2 {
    background-image: url(../img/imagem2.jpg);
}

.box3 {
    background-image: url(../img/imagem3.jpg);
}

.box4 {
    background-image: url(../img/imagem4.jpg);
}

.box5 {
    background-image: url(../img/imagem5.jpg);
}

.box6 {
    background-image: url(../img/imagem6.jpg);
}

.content-title {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

.content-title span.title {
    color: white;
    background-color: #111;
    padding: 18px;
    font-size: 1.6em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer {
    text-align: center;
    font-size: 0.9em;
    padding: 20px;
}

.git {
    text-decoration: none;
    cursor: pointer;
    color: #777;
    font-weight: bold;
}